Repository jes3rk/dtty: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json

.lintstagedrc:

{
    "*.{ts,tsx}": "eslint --fix",
    "*.{ts,tsx,md,json}": "prettier --write",
    "package.json": "sort-package-json"
}

add husky
  .husky/pre-commit
  .pnp.cjs
  .yarn/cache/husky-npm-8.0.3-b0b59c5127-837bc7e441.zip
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

barebones implementation and testing of elements
  .gitignore
  .pnp.cjs
  .pnp.loader.mjs
  .yarnrc.yml
  package.json
  src/constants.ts
  src/decorators/controller.decorator.ts
  src/decorators/method.decorator.ts
  src/ditty.class.ts
  src/index.ts
  src/tokens.ts
  src/types.ts
  testing/health.controller.ts
  testing/index.ts
  tsconfig.build.json
  tsconfig.json
  wrangler.toml
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

fix gitignore
  .gitignore
Due: none

use a local instance of the container rather than the global scope
  src/constants.ts
  src/decorators/controller.decorator.ts
  src/decorators/method.decorator.ts
  src/ditty.class.ts
  src/types.ts
  testing/health.controller.ts
  tsconfig.json
Due: eslint --fix, prettier --write

add types and custom logger implementation
  src/ditty.class.ts
  src/logger.ts
  src/tokens.ts
  src/types.ts
Due: eslint --fix, prettier --write

tests for decorators
  jest.config.js
  jest.setup.js
  src/decorators/controller.decorator.spec.ts
  src/decorators/controller.decorator.ts
  src/decorators/method.decorator.spec.ts
  src/ditty.class.ts
  src/handler.ts
  src/tokens.ts
  src/types.ts
Due: eslint --fix, prettier --write

currently typedi seems broken for this use case. committing to clean tree to migrate
  src/constants.ts
  src/decorators/apply-middleware.decorator.ts
  src/decorators/set-metadata.decorator.ts
  src/ditty.app.ts
  src/ditty.class.ts
  src/handler.ts
  src/index.ts
  src/interfaces/middleware.interface.ts
  src/logger.ts
  src/types.ts
  testing/health.controller.ts
  testing/logger.middleware.ts
Due: eslint --fix, prettier --write

implement controller level middleware and switch DI containers
  package.json
  src/constants.ts
  src/decorators/apply-middleware.decorator.ts
  src/decorators/injectable.decorator.ts
  src/decorators/method.decorator.ts
  src/ditty.app.ts
  src/handler.ts
  src/index.ts
  src/logger.ts
  src/tokens.ts
  src/types.ts
  testing/logger.middleware.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

enable method level middleware declarations
  src/ditty.app.ts
  src/interfaces/middleware.interface.ts
  testing/health.controller.ts
Due: eslint --fix, prettier --write

implementing request and param decorators for controller endpoints
  src/constants.ts
  src/decorators/contoller-params.decorator.ts
  src/decorators/injectable.decorator.ts
  src/ditty.app.ts
  src/index.ts
  src/interfaces/ditty-config.interface.ts
  src/interfaces/logger.interface.ts
  src/logger.ts
  src/param-mapper.spec.ts
  src/param-mapper.ts
  src/tokens.ts
  src/types.ts
  testing/health.controller.ts
  testing/logger.middleware.ts
Due: eslint --fix, prettier --write

basics of integration testing
  package.json
  src/ditty.app.ts
  src/param-mapper.spec.ts
  testing/index.controller.ts
  testing/index.e2e-spec.ts
  testing/index.ts
  testing/jest.e2e-config.js
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

setup initial ci
  .github/workflows/ci.yaml
Due: none

improve testing and add support for global middleware
  src/decorators/apply-middleware.decorator.ts
  src/ditty.app.ts
  src/index.ts
  testing/index.e2e-spec.ts
  testing/index.ts
  testing/jest.e2e-config.js
  testing/middleware.controller.ts
  testing/middleware.e2e-spec.ts
Due: eslint --fix, prettier --write

add parsing of body to instance of the class
  jest.setup.js
  package.json
  src/constants.ts
  src/decorators/contoller-params.decorator.ts
  src/decorators/method.decorator.spec.ts
  src/decorators/method.decorator.ts
  src/ditty.app.ts
  src/handler.ts
  src/index.ts
  src/interfaces/middleware.interface.ts
  src/interfaces/transformer.interface.ts
  src/param-mapper.spec.ts
  src/param-mapper.ts
  src/types.ts
  testing/body.controller.ts
  testing/body.e2e-spec.ts
  testing/health.controller.ts
  testing/index.controller.ts
  testing/index.ts
  testing/logger.middleware.ts
  testing/middleware.controller.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

body transformation and validation
  .gitignore
  package.json
  src/constants.ts
  src/ditty.app.ts
  src/exceptions/validation.exception.ts
  src/middleware/transformer-middleware.factory.ts
  src/middleware/validator-middleware.factory.ts
  testing/index.ts
  testing/validator.controller.ts
  testing/validator.e2e-spec.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

fix tests
  src/param-mapper.spec.ts
Due: eslint --fix, prettier --write

update ci file
  .github/workflows/ci.yaml
Due: none

update yarnrc
  .yarnrc.yml
Due: none

regen yarn lock
  yarn.lock
Due: none

fix actions cache path
  .github/workflows/ci.yaml
Due: none

fix actions cache path (#1)
  .github/workflows/ci.yaml
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

rename package and update README
  README.md
  package.json
  src/decorators/apply-middleware.decorator.ts
  src/decorators/controller.decorator.ts
  src/dtty.app.ts
  src/handler.ts
  src/index.ts
  src/interfaces/ditty-config.interface.ts
  src/interfaces/middleware.interface.ts
  src/interfaces/transformer.interface.ts
  src/middleware/transformer-middleware.factory.ts
  src/middleware/validator-middleware.factory.ts
  src/param-mapper.spec.ts
  src/param-mapper.ts
  src/types.ts
  testing/body.controller.ts
  testing/body.service.ts
  testing/health.controller.ts
  testing/index.ts
  testing/logger.middleware.ts
  testing/middleware.controller.ts
  testing/middleware.service.ts
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

fix ci
  src/dtty.app.ts
Due: eslint --fix, prettier --write

add route parameter validation and transformation; include IntegerTransformer
  README.md
  src/decorators/contoller-params.decorator.ts
  src/dtty.app.ts
  src/index.ts
  src/param-mapper.spec.ts
  src/param-mapper.ts
  src/transformers/integer.transformer.spec.ts
  src/transformers/integer.transformer.ts
  src/types.ts
  testing/index.ts
  testing/middleware.controller.ts
  testing/param.controller.e2e-spec.ts
  testing/param.controller.ts
Due: eslint --fix, prettier --write

enable exception handling at route, controller, and global levels
  README.md
  src/constants.ts
  src/decorators/apply-handlers.decorator.ts
  src/decorators/handle-exception.decorator.ts
  src/dtty.app.ts
  src/exception-handlers/validation-error.handler.ts
  src/functions.spec.ts
  src/functions.ts
  src/index.ts
  src/interfaces/exception-handler.interface.ts
  testing/exceptions.controller.ts
  testing/exceptions.e2e-spec.ts
  testing/index.ts
Due: eslint --fix, prettier --write

add documentation for exception handling
  README.md
  src/dtty.app.ts
Due: eslint --fix, prettier --write

add query string injection, transformation, and validation
  README.md
  src/constants.ts
  src/decorators/contoller-params.decorator.ts
  src/index.ts
  src/param-mapper.spec.ts
  src/param-mapper.ts
  src/types.ts
  testing/index.ts
  testing/query-param.controller.ts
  testing/query-param.e2e-spec.ts
Due: eslint --fix, prettier --write

add uuid validator for url params
  README.md
  package.json
  src/transformers/uuid.transformer.spec.ts
  src/transformers/uuid.transformer.ts
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

export uuid transformer and add docs for included transformers
  README.md
  src/index.ts
Due: eslint --fix, prettier --write

Create npm-publish.yml
  .github/workflows/npm-publish.yml
Due: none

prepare to publish
  .npmignore
  LICENSE
  package.json
Due: prettier --write, sort-package-json
